<h1>Listing posts</h1>
<%= link_to 'New Post', new_post_path %>

<ul>
  <% @posts.each do |post| %>
    <%= link_to post do %>
      <li>
      <article>
        <%= image_tag post.image_url(:indexable) %> 
        <h1><%= post.titre %></h1>
        <p><%= post.contenu[0,500] %></p>
        <%= post.son %>
        <footer>
          <%= link_to 'Cliquez pour editer', edit_post_path(post) %>
          <%= button_to 'Cliquez pour supprimer', post, :confirm => 'Are you sure?', :method => :delete %>
          <%= link_to 'Cliquez pour lire la suite...', post %>
        </footer>
      </article>
      </li>
    <% end %>
  <% end %>
</ul>

<br />

